# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/
MANIFEST

# pyenv
.python-version

# IDE
.idea/

# Babel and gettext
*.pot
*.mo

# Sphinx
docs/_build/